.movie-view {
  margin-top:25px;
}

.movie-poster {
  float: left;
  padding-right: 15px;
  max-width: 25%;
}

.label, .value  {
  display: inline;
}

.label  {
  font-weight: bold;
}

.label::after {
  content: ":";
  margin-right: 5px;
}

.movie-item {padding-top: 10px;}

.movie-view button {margin-top:50px;}
.movie-view .movie-more-info button {
  margin-top:0;
  margin-right:15px;
}