.rating-view {
  margin-top:25px;
}

.label, .value  {
  display: inline;
}

.label  {
  font-weight: bold;
}

.label::after {
  content: ":";
  margin-right: 5px;
}

.rating-item {padding-top: 10px;}

.rating-view button {margin-top:50px;}