.profile-view {
  width: 60%;
  margin:10px auto;
}

.profile-view button {
  margin-top:10px;
  margin-right:15px;
}

.changeDataForm {
  margin-top: 30px;
  display: none;
 }

.show-form {
  display: inherit;
  position: relative;
  animation: formSlideDown .3s ease-in;
}

@keyframes formSlideDown {
  from { opacity: 0; }
  to { opacity: 1; }
}
